:root {
  --low-skill-color: #c1121f;
  --medium-skill-color: #ffff3f;
  --high-skill-color: #a7c957;
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --card-background-color: #ffffff;
  --card-font-family: sans-serif;
}

button,
.download-button {
  background-color: var(--primary-color);
}

button:hover,
.download-button:hover {
  background-color: var(--primary-hover-color);
}
